
<div class="jumbotron" *ngIf="contactProfil">
  <h1 class="display-4">{{ contactProfil.name }}</h1>
  <p class="lead">{{ contactProfil.email }}</p>
  <p class="lead">{{ contactProfil.tel }}</p>
  <hr class="my-4">
  <!--Exemple du Two Way Data Bianding
  Banana in the box.
  Le Model impacte la vue
  La vue impacte le model.
  -->
  <input type="text"
         [(ngModel)]="contactProfil.name"
         class="form-control">

</div>
<div class="jumbotron" *ngIf="!contactProfil">
  <h1 class="display-4">Mes Contacts</h1>
  <p class="lead">Choisissez un contact dans le menu à gauche.</p>
  <hr class="my-4">

</div>
